- name: Ensure certificate directory exists
  ansible.builtin.file:
    path: "{{ registry_cert_dir }}"
    state: directory
    mode: "0755"
  when: inventory_hostname == groups['registry'][0]

- name: Generate private key
  community.crypto.openssl_privatekey:
    path: "{{ registry_cert_dir }}/domain.key"
    size: 4096
  no_log: true
  when: inventory_hostname == groups['registry'][0]

- name: Generate certificate signing request
  community.crypto.openssl_csr:
    path: "{{ registry_cert_dir }}/domain.csr"
    privatekey_path: "{{ registry_cert_dir }}/domain.key"
    common_name: "{{ registry_hostname }}" # the "domain name"
    organization_name: "{{ registry_cert_org }}"
    organizational_unit_name: "{{ registry_cert_ou }}"
    locality_name: "{{ registry_cert_city }}"
    state_or_province_name: "{{ registry_cert_state }}"
    country_name: "{{ registry_cert_country }}"
  no_log: true
  when: inventory_hostname == groups['registry'][0]

# Verifies that the CSR signature is valid; module will fail if not.
- name: Get CSR information
  community.crypto.openssl_csr_info:
    path: "{{ registry_cert_dir }}/domain.csr"
  register: registry_result_csr
  no_log: true
  when: inventory_hostname == groups['registry'][0]

- name: Generate self-signed certificate
  community.crypto.x509_certificate:
    path: "{{ registry_cert_dir }}/domain.crt"
    privatekey_path: "{{ registry_cert_dir }}/domain.key"
    csr_path: "{{ registry_cert_dir }}/domain.csr"
    provider: selfsigned
  no_log: true
  when: inventory_hostname == groups['registry'][0]

# Read the certificate to localhost (encoded by base64)
- name: Read the registry CA cert
  ansible.builtin.slurp:
    src: "{{ registry_cert_dir }}/domain.crt"
  register: registry_ca
  when: inventory_hostname == groups['registry'][0]

- name: Make CA cert available to all hosts
  ansible.builtin.set_fact:
    registry_shared_ca: "{{ registry_ca.content }}"
  delegate_to: localhost # take care
  run_once: true
