datacenter = "dc1"
data_dir = "{{ consul_data_dir }}"
bind_addr = "{{ consul_bind_addr }}"
client_addr = "{{ consul_client_addr }}"
server = {{ consul_server | lower }}
bootstrap_expect = {{ consul_bootstrap_expect }}

retry_join = [
{% for ip in consul_retry_join %}
  "{{ ip }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

log_level = "INFO"
ui = true
