# To make sure "ansible_default_ipv4" is gathered.
- name: Gather facts again
  ansible.builtin.setup:

- name: Assert ansible_default_ipv4.address exists
  ansible.builtin.assert:
    that:
      - hostvars[inventory_hostname].ansible_default_ipv4.address is defined

- name: Debug ansible_default_ipv4.address
  ansible.builtin.debug:
    var: hostvars[inventory_hostname].ansible_default_ipv4.address

- name: Ensure the mongodb service is started
  ansible.builtin.systemd:
    name: mongod
    state: started
    enabled: true
    daemon_reload: true
  no_log: true

- name: Wait for mongodb to be available
  ansible.builtin.wait_for:
    host: 127.0.0.1
    port: "{{ mongodb_port }}"
    timeout: 10

# If already initialized, exit with status code 1.
- name: Check if replica set is already initialized
  ansible.builtin.shell:
    cmd: |
      mongosh --eval '
      if (rs.isMaster().setName) {
        print("Replica set already initialized.");
        quit(1);
      }
      '
  changed_when: false
  failed_when: false # handled by the task below
  register: mongodb_init_stat

- name: Initiate replica set on primary
  # todo: hosts shouldn't be hard-coded (node_1, node_2, node_3).
  ansible.builtin.shell:
    cmd: |
      mongosh --eval '
        rs.initiate({
          _id: "{{ mongodb_repl_set }}",
          members: [
            { _id: 0, host: "{{ hostvars["node_1"].ansible_default_ipv4.address }}:{{ mongodb_port }}" },
            { _id: 1, host: "{{ hostvars["node_2"].ansible_default_ipv4.address }}:{{ mongodb_port }}" },
            { _id: 2, host: "{{ hostvars["node_3"].ansible_default_ipv4.address }}:{{ mongodb_port }}", arbiterOnly: true }
          ]
        })
      '
  changed_when: true
  when:
    - mongo_role == 'primary' # take care
    # Only run this task if the replica set hasn't been initialized.
    - mongodb_init_stat.rc == 0
