# mongod.conf

# For documentation of all options, see:
# http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /var/lib/mongodb

# Where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# Network interfaces.
net:
  port: {{ mongodb_port }}
  bindIpAll: true

# How the process runs.
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

# Replica set configuration
replication:
   replSetName: {{ mongodb_repl_set }}
