# See the documentation for more information:
# https://pocket-id.org/docs/configuration/environment-variables

# The URL where you will access the app.
APP_URL="{{ pocketid_app_url }}"

# An encryption key of at least 16 bytes is needed to encrypt sensitive data.
# Generate a 32-characters-long random string with: `openssl rand -base64 32`.
# This should be encoded by base64.
ENCRYPTION_KEY="{{ pocketid_encryption_key }}"

# Trust all proxies and extract the client IP from headers.
TRUST_PROXY="true"

# Disable version check.
VERSION_CHECK_DISABLED="true"

# Disable analytics.
ANALYTICS_DISABLED="true"
