name: Checks

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  typos:
    runs-on: ubuntu-latest
    name: spell check with typos
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Run typos command
        shell: nix shell nixpkgs#typos --quiet --command bash {0}
        run: typos --hidden --exclude .git --format brief

  cocogitto:
    runs-on: ubuntu-latest
    name: check conventional commits
    # Only run this step in the main branch.
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Check the latest commit message
        shell: nix shell nixpkgs#cocogitto --quiet --command bash {0}
        run: cog check HEAD..HEAD

  ansible-lint:
    runs-on: ubuntu-latest
    name: ansible lint
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Run typos command
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        shell: nix shell nixpkgs#sops nixpkgs#ansible-lint --quiet --command bash {0}
        run: |
          source <(sops decrypt --output-type dotenv encrypted.env)
          echo "$ANSIBLE_VAULT_PASSWORD" >.vault_pass.txt
          ansible-lint --strict

  trivy-fs:
    name: use trivy to scan files
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          severity: CRITICAL,HIGH,MEDIUM
          output: trivy-results.sarif
          format: sarif
          hide-progress: true
          ignore-unfixed: true
          exit-code: 1
      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ success() || failure() }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif
          category: trivy-fs-scan

  trivy-config:
    name: use trivy to scan configs
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: config
          severity: CRITICAL,HIGH,MEDIUM
          output: trivy-results.sarif
          format: sarif
          hide-progress: true
          ignore-unfixed: true
          exit-code: 1
      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ success() || failure() }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif
          category: trivy-config-scan

  tflint:
    runs-on: ubuntu-latest
    name: lint opentofu code by tflint
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Run tflint command
        shell: nix shell nixpkgs#tflint --quiet --command bash {0}
        run: tflint --chdir ./infra --recursive

  tofu-fmt:
    runs-on: ubuntu-latest
    name: check formatting of opentofu
    defaults:
      run:
        working-directory: ./infra
    steps:
      - uses: actions/checkout@v6
      - uses: opentofu/setup-opentofu@v1
      - name: Run OpenTofu commands
        run: tofu fmt -check -diff -recursive

  tofu-test:
    runs-on: ubuntu-latest
    name: tofu test
    defaults:
      run:
        working-directory: ./infra
    steps:
      - uses: actions/checkout@v6
      - uses: opentofu/setup-opentofu@v1
      - name: Run OpenTofu commands
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          tofu init
          tofu test
