name: E2E Playbook Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  install-docker:
    uses: ./.github/workflows/e2e-playbook-reusable.yml
    with:
      playbook: install-docker.yml
