name: Molecule Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  ncat_listen:
    uses: ./.github/workflows/molecule-test-reusable.yml
    secrets: inherit
    with:
      scenario: ncat_listen

  install_docker:
    uses: ./.github/workflows/molecule-test-reusable.yml
    secrets: inherit
    with:
      scenario: install_docker

  consul:
    uses: ./.github/workflows/molecule-test-reusable.yml
    secrets: inherit
    with:
      scenario: consul
