name: Molecule Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  ncat_listen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run Molecule Test on the Scenario
        uses: ./.github/actions/molecule-test
        with:
          scenario: ncat_listen
