name: Molecule Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  ncat_listen:
    # uses: ./.github/workflows/molecule-test-reusable.yml
    # secrets: inherit
    # with:
    #   scenario: ncat_listen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Debug versions of required tools
        shell: sh
        run: |
          docker --version
          python --version

      - uses: cachix/install-nix-action@v31

      - name: Decrypt encrypted.env to generate .vault_pass.txt
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        shell: nix shell nixpkgs#sops --quiet --command bash {0}
        run: |
          mkdir -p ~/.config/sops/age
          echo "$SOPS_AGE_KEY" >~/.config/sops/age/keys.txt
          source <(sops decrypt --output-type dotenv encrypted.env)
          # tmpfile=$(mktemp)
          # sops decrypt --output-type dotenv encrypted.env >"$tmpfile"
          # . "$tmpfile"
          echo "$ANSIBLE_VAULT_PASSWORD" >.vault_pass.txt

      - name: Run ansible playbook
        shell: nix develop .#ci --quiet --command bash {0}
        run: |
          molecule test --scenario-name "ncat_listen" --report
