name: Molecule Tests Reusable

on:
  workflow_dispatch:
    inputs:
      scenario:
        type: string
        description: The molecule scenario name
        required: true
  workflow_call:
    inputs:
      scenario:
        type: string
        description: The molecule scenario name
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Debug versions of required tools
        shell: sh
        run: |
          docker --version
          python --version

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Decrypt encrypted.env to generate .vault_pass.txt
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        shell: nix shell nixpkgs#sops --quiet --command bash {0}
        run: |
          set -a
          source <(sops decrypt --output-type dotenv encrypted.env)
          set +a
          echo "$ANSIBLE_VAULT_PASSWORD" >.vault_pass.txt

      - name: Run ansible playbook
        shell: nix develop .#ci --quiet --command bash {0}
        run: |
          molecule test --scenario-name "${{ inputs.scenario }}" --report
