name: Molecule Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  ncat_listen:
    uses: ./.github/workflows/molecule-test-reusable.yml
    with:
      scenario: ncat_listen
