name: Molecule Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  ncat_listen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run molecule test on a given scenario
        uses: ./.github/actions/molecule-test
        with:
          sops_age_key: ${{ secrets.SOPS_AGE_KEY }}
          scenario: ncat_listen
